h1{
    text-align: center;
    border: 5px solid greenyellow;
    background-color: gray;
    margin: 0.5em;
    padding: 1.5em;
}
body{
    margin: 0;
    background-color: honeydew;
}

.container{
    margin: 0 auto;
    width: 1000px;
}

table.container{
    margin-top: 80px;
    text-align: left;
    padding: 5px 5px 5px 0;
}

th{
    text-align: left;
    padding: 5px 5px 5px 0;
}
p{

text-align: end;

}